@font-face{
  font-family: montserrat;
  src: url("../../assets/montserrat/Montserrat-Regular.ttf");
}

@font-face{
  font-family: crimsontext;
  src: url("../../assets/crimsontext/CrimsonText-Regular.ttf");
}

@font-face{
  font-family: crimsontext;
  font-weight: bold;
  src: url("../../assets/crimsontext/CrimsonText-Bold.ttf");
}

$red: #e74c3c;

h1, h2, h3, h4, h5, h6{
  font-family: montserrat;
  margin-bottom: 2px;
}

h1{
  font-size: 1.5em;
}

p{
  font-family: crimsontext;
}

h1, h2, h3, h4, h5, h6, p, i{
  color: #34495e;
}
