@font-face{
  font-family: montserrat;
  src: url("../../assets/montserrat/Montserrat-Regular.ttf");
}

@font-face{
  font-family: crimsontext;
  src: url("../../assets/crimsontext/CrimsonText-Regular.ttf");
}

@font-face{
  font-family: crimsontext;
  font-weight: bold;
  src: url("../../assets/crimsontext/CrimsonText-Bold.ttf");
}
