@import "reset";
@import "text";

#wrapper{
  overflow: hidden;

  #visualization{
    width: 100vw;
    height: 80vh;
    position: relative;

    #map{
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    #killfeed, #controls{
      z-index: 100;
      position: absolute;
    }

    #killfeed{
      left: 10px;
      bottom: 10px;
      display: flex;
      p{
        align-self: flex-end;
        font-weight: bold;
        color: $red;
        background: #ecf0f1;
        padding: 5px;
      }
    }

    #controls{
      background: #ecf0f1;
      text-align: center;
      right: 10px;
      bottom: 20px;
      padding: 5px 20px;

      h2, a{
        display: inline;
      }
      a{
        cursor: pointer;
      }
    }
  }

  #textbox{
    width: 100vw;
    height: 20vh;

    center{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media screen and (max-width: 600px){
  #wrapper{
    #visualization{
      #controls{
        bottom: 40px;
        width: calc(100% - 60px);
      }

      #killfeed{
        bottom: 70px;
        p{
          width: 100%;
        }
      }
    }
  }
}
